body {
  margin: 0;
  padding: 0;
  background-color: #f28ab2;
  box-sizing: border-box;
}

main {
  width: 35%;
  background-color: white;

  margin: 50px auto;

  border-radius: 5px;
  box-shadow: 3px 3px 15px 5px rgb(129, 129, 129);
}
.container {
  padding: 20px;
}

h3 {
  margin: 0 0 15px 15px;
  font-size: 25px;
  font-weight: normal;
  letter-spacing: 3px;
}

.clearBtn {
  width: 90%;
  background-color: #f28ab2;
  outline: none;
  border: none;
  margin-left: 5%;
  margin-top: 10px;
  padding: 10px;

  font-size: 20px;
  color: white;
  cursor: pointer;
}
.clearBtn:hover {
  background-color: #e7508a;
}
